*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    font-family: 'Montserrat', sans-serif;
}

.btn-wsp {
    background-color: #01e675;
    color: #FFF;
    border-radius: 50px;
    width: 62px;
    height: 62px;
    font-size: 50px;
    text-align: center;
    box-shadow: 0 1px 5px #212529;
    position: fixed;
    bottom: 30px;
    right: 40px;
}

.btn-wsp:hover {
    background-color: #05ce69;
    transition: .4s ease-in-out;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

/*Navbar*/
.nav-main {
    width: 100%;
    height: 70px;
    background: #211f20;
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-shadow: 0 1px 5px 0 #212529;
}

.nav-main .nav-logo {
    width: 200px;   
}

.nav-items {
    display: flex;
    margin-left: 50px;
}

.nav-items li {
    margin-left: 50px;
}

.nav-items li a {
    font-size: 15px;
}

.nav-items li a:hover {
    border-bottom: 2px solid #e6b301;
}

/* Header carousel */
.carousel{
    width: 100%;
    height: calc(100vh + 80px);
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    animation: carousel 36s infinite linear;
} 

.carousel-content {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(142, 140, 143, 0.08), rgba(98, 99, 109, 0.05));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-size: 25px

}

.carousel .carousel-content .carousel-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.carousel .carousel-content .carousel-texts > h1{
    font-weight: bolder;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 6px;
    
}

.carousel .carousel-content .carousel-texts > p {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 10px;
}

.carousel .carousel-content .carousel-texts > h2 {
    font-size: 28px;
    font-weight: normal;
    text-transform: uppercase;
}



@keyframes carousel {
    0%{
        background-image: url(../img/carousel/banner-1.jpg);
        transition: .1s ease-in-out;
    }
    20%{
        background-image: url(../img/carousel/banner-1.jpg);
        transition: .1s ease-in-out;
    }
    21%{
        background-image: url(../img/carousel/banner-2.jpg);
        transition: .1s ease-in-out;
    }
    40%{
        background-image: url(../img/carousel/banner-2.jpg);
        transition: .1s ease-in-out;
    }
    41%{
        background-image: url(../img/carousel/banner-3.jpg);
        transition: .1s ease-in-out;
    }
    60%{
        background-image: url(../img/carousel/banner-3.jpg);
        transition: .1s ease-in-out;
    }
    61%{
        background-image: url(../img/carousel/banner-4.jpg);
        transition: .1s ease-in-out;
    }
    80%{
        background-image: url(../img/carousel/banner-4.jpg);
        transition: .1s ease-in-out;
    }
    81%{
        background-image: url(../img/carousel/banner-5.jpg);
        transition: .1s ease-in-out;
    }
    100%{
        background-image: url(../img/carousel/banner-5.jpg);
        transition: .1s ease-in-out;
    }
}

/* About */

.about-container {
    background-color: #211f20;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 520px;
    padding: 80px 25px;

}

.about-container > img {
    width: 620px;
    height: 445px;
}


.about-section > h1 {
    color: #FFF;
    font-size: 5em;
    margin: 0;
    padding-left: 15px;
}

.about-section > p {
    color: #FFF;
    font-size: 18px;
    padding: 20px 30px 0 25px;
}

.about-section > a {
    margin: 50px 0 0 350px;
}

.about-section a:hover {
    background-color: #e6b301;
    transition: .4s ease-in-out;
}

.btn {
    cursor: pointer; 
    display: flex;
    border: 0px;
    font-weight: bold; 
    padding: 10px 20px; 
    background: #262626;
    color: #ffff; 
    font-size: 17px;
    border: 1px solid #ffff; 
    margin: 10px 20px;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

/* Products */

.products-cards {
    width: 100%;
    display: flex; 
    flex-direction: column;
    margin-bottom: 50px;
    padding-top: 50px;
}

.products-info {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-info > h1 {
    font-size: 50px;
    width: fit-content;
    text-align: left;
    margin-left: 20px;
    padding-right: 16px;
    border-right: 1px solid #2c292b;
}

.products-info > a{
    cursor: pointer;
    color:#616161;
    font-size: 100%;
    font-weight: 700;
    margin-left: 10px;
    align-self: center;
}

.products-info > a:hover {
    color: #b78372;
    transition: .3s ease-in-out;
}

.products-info > p {
    margin: 10px 0 0 10px;
    color: #616161;
}



.category .nav-category {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.category .nav-category > li > .btn {
    border-radius: 3px;
}

.category .nav-category > li > .btn:hover {
    border: 1px solid #b78372;
    background-color: #e0cdc6;
    transition: .3s ease-in-out;

}

.products-cards .main-products-container {
    padding: 3% 9%;
}
.products-cards .products-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-self: center;
    gap: 25px;
}


.products-cards .products-container .item{
    border-radius: 1px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 2px 5px 0 #1e202252;
}


.products-cards .products-container .item a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.products-cards .products-container .item a:hover{
    background-color: #4b4e521c;
    box-shadow: 0 3px 8px 0 #1e202252;
    transition: .4s ease-in-out;
}

.products-cards .products-container .item img{
    width: 100%;
    height: 100%;
    border-radius: 1px;
}

.item-header {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px;
}

.item-header > h2 {
    width: 200px;
    height: fit-content;
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    color:#211f20;
    margin: 3px 0 0 10px;
}

.item-header > h4{
    width: fit-content;
    font-weight: 580;
    color: #ffff;
    font-size: 18px;
    margin: 0;
    background-color: #e2cfac;
    padding: 3px;
    border-radius: 3px;
}




.item-footer {
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8b8477;
    padding: 10px 0 10px 20px;
}


.item-footer > h3{
    font-weight: 500;
    font-size: 16px;
}



/* Promos */

.section-promos {
    padding: 6rem;
    background-color: #e0cdc6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-promo1, 
.section-promo2, 
.section-promo3 {
    display: flex;
    margin: 20px;
}

/* Promo1 */
.section-promo1-left, 
.section-promo2-right,
.section-promo3-left {
    padding: 40px;
    align-self: center;
}

.section-promo1-left > h1,
.section-promo2-right > h1,
.section-promo3-left > h1 {
    font-size: 50px;
    color: #000;
    font-family: sans-serif;
}

.section-promo1-left > p,
.section-promo2-right > p,
.section-promo3-left > p {
    color: #3b3838;
    font-size: 20px;
    font-weight: bold;
}

.section-promo1-right,
.section-promo2-left,
.section-promo3-right {
    margin: 20px 40px;
    box-shadow: 0 2px 5px 0 #1e202252;
}




/* Modals products */

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3);
    transition: .4s ease-in-out;
}

.modal-products{
    width: 1120px;
    height: 600px;
    background: #FFF;
    position: relative;
    transition: transform .8s ease-in-out;
    transform: translateY(0%);
    border-radius: 5px;    
}

.modal-show-hiden{
    transform: translateY(-200%);
}

.modal-products .top-modal-products {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}


.close-modal{
    margin: 7px 11px 0 0;
    cursor: pointer;
    color: #211f20;
}

.close-modal:hover {
    color: #4b4e52;
}

.modal-products > section{
    display: flex;
    margin-top: 20px;


}

.modal-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-left .top-modal-left {
    width: 570px;
    height: 330px;
    margin: 0 0 20px 0px;
    box-shadow: 0 2px 5px 0 #1e202252;
}

.modal-left .top-modal-left img {
    width: 100%;
    height: 100%;
}

.modal-left .bottom-modal-left {
    height: 130px;
    width: 640px;
    margin: 0 20px 0 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.bottom-modal-left > figure {
    height: inherit;
    width: 180px;
    box-shadow: 0 2px 5px 0 #1e202252;
}
.bottom-modal-left > figure > img {
    width: inherit;
    height: 100%;
    border-radius: 2px;
}

.bottom-modal-left > a {
    color: #8b847756;
    align-self: center;
    justify-self: center;
}


.modal-right {
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 1px;
    box-shadow: 0 2px 5px 0 #1e202252;
    margin: 0 25px 5px 0;
    padding: 10px;
}

.modal-right .modal-title {
}

.modal-right .modal-title h1 {
    font-size: 50px;
}

.modal-right .modal-title h2 {
    font-weight: 450;
    margin-left: 5px;
}

.modal-right .modal-description {
    margin-top: 20px;
}


.modal-right .modal-properties {
    margin-top: 20px;
}

.modal-right .modal-properties h3,h4 {
    color: #211f20;
    margin-top: 5px;
}

.modal-right .modal-properties p{
    color: #8b8477;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.modal-right .modal-btn {
    margin-top: 20px;
    align-self: center;
}

.modal-right .modal-btn > a:hover {
    background-color: #01e675;
    transition: .4s ease-in-out;
}


/* Footer */

.footer-info {
    background-color: #2c292b;
    padding: 80px 60px;

}

.footer-container {
    display: flex;
    justify-content: flex-startce;
    align-items: center;
    color: #b9b9b9;
    
}

.footer-container > h1 {
    color: #ffff;
    font-size: 50px;
    margin-left: 30px;
    align-self:flex-start;
    font-weight: bolder;
    
}

.footer-container .footer-contact {
    margin-left: 100px;
    padding-right: 20px;
    border-right: 1px solid #FFF;
}

.footer-container .footer-contact > li{
    margin: 9px;
    display: flex;
    align-items: center;
    
}

.footer-container .footer-contact h3 {
    font-weight: normal;
    margin-left: 5px;
    
}

.footer-container .footer-delivery {
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.footer-container .footer-delivery > p {
    font-size: 19px;
    margin-right: 5px;
}

#footer {
    background-color: #211f20;
    padding: 5px 5px;
}

#footer > h4 {
    margin: 0;
    color: #616161;
    font-weight: lighter;
    text-align: center;
}

