body {
    background: #202225;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

/*Navbar*/
header {
    height: 100vh;
}

.nav-main {
    width: 100%;
    height: 50px;
    background: #363A3E;
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}

.nav-main img {
    width: 200px;
    margin-left: 150px;
}

.nav-items {
    display: flex;
    margin-right: 150px;
}

.nav-items li {
    margin-left: 50px;
}

.nav-items li a {
    font-size: 15px;
}

.nav-items li a:hover {
    border-bottom: 2px solid #e6b301;;
}

/* Header carousel */
.carousel{
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    animation: carousel 25s infinite linear;
} 

.carousel-content {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(189,187,190, .1), rgba(121,123,133, .1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.carousel h1{
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

@keyframes carousel {
    0%{
        background-image: url(../img/carousel/banner-1.jpg);
    }
    20%{
        background-image: url(../img/carousel/banner-1.jpg);
    }
    21%{
        background-image: url(../img/carousel/banner-2.jpg);
    }
    40%{
        background-image: url(../img/carousel/banner-2.jpg);
    }
    41%{
        background-image: url(../img/carousel/banner-3.jpg);
    }
    60%{
        background-image: url(../img/carousel/banner-3.jpg);
    }
    61%{
        background-image: url(../img/carousel/banner-4.jpg);
    }
    80%{
        background-image: url(../img/carousel/banner-4.jpg);
    }
    81%{
        background-image: url(../img/carousel/banner-5.jpg);
    }
    100%{
        background-image: url(../img/carousel/banner-5.jpg);
    }
}